
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Nakkikioski
Exec=/opt/nakkikioski/bin/nakkikioski
Icon=nakkikioski
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Name[en_US]=nakkikioski.desktop
